<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel = "stylesheet" href = "../src/css/index.css" />
    <link rel = "stylesheet" href = "https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Nunito&display=swap" />

    <title>Vite App</title>
  </head>
  <body>
    <main>
    <canvas id="b"></canvas>

      <div class="head">

        <h2 class = "head__top">Open Source</h2>
        <p class = "head__text">The open source way is a form of thinking and collaborating within the open source community. This philosophy is based on intellectual freedom and core principles: transparency, collaboration, delivery, inclusion, and community. The exchange of ideas and software developed by communities has driven creative, scientific, and technological advancement in such industries as: education, government, law, health, and manufacturing. This movement created a way for a global community to collaborate, share, and assist  both individual and group goals through source code.
          Open source software is collaborative, relying on community production and peer review to use, change, and share source code with each other. Developers share insights, ideas, and code to create more innovative software solutions both collectively and individually. This scalable and flexible software ensures that anyone with the source code can modify, enhance, and redistribute it for better reusability and accessibility. Open source software operates with the underlying principles of peer production and mass collaboration, creating more sustainable software development for end users.  </p>
          
          <h3 class = "head__mid">The most popular open source software licenses</h3>

          <ul class = "head__list">
            <li class = "head__list--1"><strong>MIT License © </strong>: MIT License is a free software license that allows users to modify the original code with very few restrictions. </li>
            <li class = "head__list--1"><strong>GNU General Public© (GPL) </strong>: The GNU is a series of free software licenses that guarantee end users the ability to run, study, share, and modify software.</li>
            <li class = "head__list--1"><strong>Apache® </strong>: The Apache License 2.0 is a free software license that allows users to use, modify, and distribute the software for any purpose.</li>
            <li class = "head__list--1"><strong>BSD </strong>: This license has fewer restrictions on developers, allowing users to use and modify the code without having to share modifications.</li>
            <li class = "head__list--1"><strong>MySQL™ </strong>: MySQL is an open-source database management system with two separate licenses - the MySQL Standard Edition and MySQL Enterprise Edition.</li>
            <li class = "head__list--1"><strong>SUSE </strong>: SUSE Linux is built on top of open source Linux kernel and distributed with system and application software.</li>
            <li class = "head__list--1"><strong>Ubuntu® </strong>: Ubuntu is a Linux distribution made of free and open source software released in desktop, cloud, and IoT.</li>
          </ul>
        
      </div>

      <div class="fav">
        <p class="fav__intro">I'm a big fan of Open source and its resistence and replacements for the licensed softwares</p>
        <p class = "fav__intro">Even though there are so many cracked and unofficial free releases of the licensed software , it is hard to use it to the full extend and it even cause damage to our devices</p>
        
        <ul class = "fav__list">I'm gonna share my favourite Open source softwares 
        
          <li class = "fav__list--kali">Kali Linux</li>
          <li  class = "fav__list--ubuntu">Ubuntu</li>
       
        </ul>


      </div>
  
      
      <div class="kali">
        <p>Kali Linux (formerly known as BackTrack Linux) is an open-source, Debian-based Linux distribution aimed at advanced Penetration Testing and Security Auditing. It does this by providing common tools, configurations, and automations which allows the user to focus on the task that needs to be completed, not the surrounding activity.

          Kali Linux contains industry specific modifications as well as several hundred tools targeted towards various Information Security tasks, such as Penetration Testing, Security Research, Computer Forensics, Reverse Engineering, Vulnerability Management and Red Team Testing.
          
          Kali Linux is a multi-platform solution, accessible and freely available to information security professionals and hobbyists.</p>
        <p>Kali Linux has almost every hacking tools and pre installed compilers in it which makes it more aggressive</p>
        <p>Kali linux is released by Offensive Security. The target customers of Kali linux are Hackers</p> 
        <p>This OS is infamous among hakers because of the collection of tools</p>

      </div>
      
       <div class="ubuntu">
        <p>Ubuntu is a Debian based linux distribution which is the most flexible and resistent Operating system</p>
        <p>Ubuntu is a Linux distribution based on Debian and composed mostly of free and open-source software. Ubuntu is officially released in three editions: Desktop, Server, and Core for Internet of things devices and robots. All the editions can run on the computer alone, or in a virtual machine</p>
        <p>The Ubuntu Foundation was formed in 2004 by a South African-British developer and entrepreneur Mark Shuttleworth. He wanted to create a more user-friendly Linux distribution than Debian, which was very popular among Linux users at that time. It was notoriously difficult to install, however, and the Ubuntu Foundation worked to remedy that.</p>
        <p>As an operating system created to get the beginners on to the Linux train, Ubuntu does a great job in achieving the same. While it looks significantly different from Windows and macOS, it has a shallow learning curve.

          Ubuntu uses GNOME, one of the most popular desktop environments (DEs) in the Linux world. Think of the DE as a painting on top of a canvas, the Linux kernel. GNOME is where you and your computer interact in an intuitive and visually appealing manner.</p>
<p>GNOME is not the only desktop environment that you can get with Ubuntu. Ubuntu comes in many variants called “flavors” that ship with other desktop environments like KDE, LXQt, MATE, and Xfce. This gives newbies a lot of flexibility to try and experience different DEs and settle with the one they like the best, which makes Ubuntu a more flexible operating system.

</p>

      </div>


      <script type="module" src="../src/js/main.js"></script>

      <script>
//         const tout = setTimeout(al, 4000);

// function al() {
//   alert("In real Open source, you have the right to controls your own destiny.");
// }
      </script>


    </main>
  </body>
</html>
